@font-face {
  font-family: "iconfont"; /* Project id 3736846 */
  src: url('iconfont.woff2?t=1667551370689') format('woff2'),
       url('iconfont.woff?t=1667551370689') format('woff'),
       url('iconfont.ttf?t=1667551370689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanzhu:before {
  content: "\e60f";
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-geren:before {
  content: "\e64c";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-shoujihao:before {
  content: "\e642";
}

.icon-mima:before {
  content: "\e612";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-shejiaotubiao-03:before {
  content: "\e641";
}

.icon-shejiaotubiao-06:before {
  content: "\e643";
}

.icon-zhanghao:before {
  content: "\e614";
}

